###
### docker
###
WEB_CONTAINER_NAME=
CMS_CONTAINER_NAME=
DB_CONTAINER_NAME=

###
### web
###
WEB_CMS_HOST=
WEB_CMS_PORT=

###
### cms
###
CMS_HOST=
CMS_PORT=
CMS_APP_KEYS=
CMS_API_TOKEN_SALT=
CMS_ADMIN_JWT_SECRET=
CMS_TRANSFER_TOKEN_SALT=
CMS_DATABASE_CLIENT=
CMS_DATABASE_HOST=
CMS_DATABASE_PORT=
CMS_DATABASE_NAME=
CMS_DATABASE_USERNAME=
CMS_DATABASE_PASSWORD=
CMS_DATABASE_SSL=
CMS_JWT_SECRET=

###
### db
###
DB_USER=
DB_PASSWORD=
DB_NAME=
