---
import Layout from '../layouts/Layout.astro';
import { fetchArticles } from '../lib/microcms/fetchArticles';

const postsResponse = await fetchArticles();
const posts = postsResponse.contents;
---

<Layout>
	{
		posts.map((post) => (
			<a href={`/posts/${ post.id }`}>{post.title}</a>
		))
	}
</Layout>
