---
import Layout from '../layouts/Layout.astro';
import { fetchArticles } from '../lib/microcms/fetchArticles';

const articlesResponse = await fetchArticles();
const articles = articlesResponse.contents;
---

<Layout>
	{
		articles.map((article) => (
			<p>{article.id}</p>
		))
	}
</Layout>
