---
import Hero from '../components/home/Hero.astro';
import Layout from '../layouts/Layout.astro';
import { fetchArticles } from '../lib/microcms/fetchArticles';

const postsResponse = await fetchArticles();
const posts = postsResponse.contents;
---

<Layout>
	<Hero/>
	<div class="w-full border-b border-slate-700" />
	<!-- {
		posts.map((post) => (
			<a href={`/posts/${ post.id }`}>{post.title}</a>
		))
	} -->
</Layout>
