---
import type { BlogsResponse } from '@/lib/microcms/blog';
import { parseDate } from '@/lib/date/parseDate';

interface Props {
    blog: BlogsResponse["contents"][number];
}

const { blog } = Astro.props;
---

<a href={`/blogs/${blog.id}`} class="flex rounded border border-neutral-300 overflow-hidden">
    <div class="bg-neutral-100 flex justify-center items-center w-24 text-3xl">
        {blog.icon}
    </div>
    <div class="p-4">
        <p class="font-bold">{blog.title}</p>
        <p class="text-neutral-500 text-sm">{parseDate(blog.publishedAt!)}</p>
    </div>
</a>
