---
import Layout from "@/layouts/Layout.astro";
import { fetchBlogs } from "@/lib/microcms/fetchBlogs"
import { parseDate } from "@/lib/date/parseDate";

export const getStaticPaths = async () => {
	const blogsResponse = await fetchBlogs({ fields: ["id"] });
	return blogsResponse.contents.map((blog) => ({
		params: {
			blogId: blog.id,
		},
	}));
};

const { blogId } = Astro.params;
const blogsResponse = await fetchBlogs({ ids: blogId });
const blog = blogsResponse.contents[0];
---

<Layout>
	<div class="prose prose-neutral mx-auto">
		<h1>{ blog.title }</h1>
		<p class="text-neutral-500 text-sm">{ parseDate(blog.publishedAt!) } 公開</p>
		<div set:html={blog.content}>
	</div>
</Layout>
