---
import Layout from "@/layouts/Layout.astro";
import { fetchArticles } from "@/lib/microcms/fetchArticles"

export const getStaticPaths = async () => {
	const blogsResponse = await fetchArticles({ fields: ["id"] });
	return blogsResponse.contents.map((blog) => ({
		params: {
			blogId: blog.id,
		},
	}));
};

const { blogId } = Astro.params;
const articlesResponse = await fetchArticles({ ids: blogId });
const article = articlesResponse.contents[0];
---

<Layout>
	<div class="prose mx-auto">
		<h1>{ article.title }</h1>
		<div set:html={article.content}>
	</div>
</Layout>
