---
import "@/styles/global.css";
import Header from "@/components/Header.astro";
---

<!doctype html>
<html lang="ja">
	<head>
		<script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-67BHLELTLN"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-67BHLELTLN');
		</script>
		<script type="text/partytown" src="/prism.js"></script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="stylesheet" href="/prism.css">
		<meta name="generator" content={Astro.generator} />
		<title>Taiyaki Tech</title>
	</head>
	<body class="text-neutral-800">
		<header class="sticky top-0">
			<Header />
		</header>
		<div class="mx-auto px-4 py-8 max-w-5xl">
			<slot />
		</div>
	</body>
</html>
